/* Font Import */
@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Mulish, Helvetica, sans-serif;
}
.button-primary {
  width: 174px;
  height: 52px;
  border-radius: 8px;
  background: #ff5400;
  color: #fff;
  text-align: center;
  font-size: 1rem;
  font-weight: 700;
  border-style: none;
}
/* Header Section */
header {
  margin-top: 3rem;
  padding-inline: 8rem;
}
nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
nav a {
  text-decoration: none;
}
nav img {
  display: block;
}
.logo-title {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.logo-title a {
  color: #131318;
  font-size: 2.25rem;
  font-weight: 800;
}
.menu-items {
  display: flex;
  gap: 2.5rem;
  list-style-type: none;
}
.menu-items li {
  color: #424247;
  text-align: center;
  font-size: 1.25rem;
  font-weight: 400;
}

.menu-items a.active-link {
  color: #ff5400;
  font-weight: 700;
}
#toggler,
label {
  display: none;
}
label i {
  font-size: 1.5rem;
}

main {
  max-width: 1440px;
  margin: 2rem auto;
}
img {
  display: block;
  width: 100%;
  height: 100%;
}
/* Input Banner Section */
.input-banner {
  background-image: linear-gradient(
      to bottom,
      rgba(19, 19, 24, 0.8),
      rgba(97, 97, 100, 0.15)
    ),
    url("../images/Image1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 16px;
  border: 1px solid;
  height: 500px;
}
.input-banner h2 {
  color: #fff;
  text-align: center;
  font-size: 4rem;
  font-weight: 800;
  margin: 106px 0 24px;
}
.input-banner p {
  color: #fff;
  text-align: center;
  font-weight: 400;
  line-height: 26px;
  max-width: 676px;
  margin: 0 auto 3rem;
}
.input-banner input,
.input-banner select {
  display: block;
  width: 174px;
  height: 52px;
  border-radius: 8px;
  background: #fff;
  outline-style: none;
  border-style: none;
  padding: 1rem;
  color: rgba(19, 19, 24, 0.5);
  font-size: 1rem;
  font-weight: 400;
}

.input-banner form {
  display: flex;
  gap: 1.5rem;
  justify-content: space-around;
  max-width: 800px;
  margin: 0 auto;
  padding: 1rem;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.3);
}
/* Tour Blog Section */

.tour-blog-section {
  display: flex;
  gap: 3rem;
  justify-content: space-around;
  margin: 3rem 0;
  overflow: auto;
}
.blog-content {
  width: 65%;
}
.blog-content h2 {
  color: #131318;
  font-size: 40px;
  font-weight: 800;
  margin-bottom: 1rem;
}
.blog-content p,
.blog-content ul {
  color: rgba(19, 19, 24, 0.7);
  font-size: 1rem;
  font-weight: 400;
  line-height: 26px;
  margin: 1rem 0 1rem;
}
.blog-content ul {
  list-style-position: inside;
  padding-left: 1rem;
}
.image-content {
  width: 35%;
}
/* Destination Section */
.destination-container h2 {
  color: #131318;
  text-align: center;
  font-size: 2.5rem;
  font-weight: 800;
}
.destination-container p {
  color: rgba(19, 19, 24, 0.7);
  text-align: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 26px;
  max-width: 640px;
  margin: 1.5rem auto 3rem;
}
.destination-image-container {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(10, 0.5fr);
  gap: 1.5rem;
  height: 1160px;
}
.destination-image-container h3 {
  position: relative;
  top: 50%;
  text-align: center;
  color: #fff;
  font-size: 1.5rem;
  font-weight: 800;
}
.image-item-1 {
  grid-area: 1 / 1 / 2 / 6;
  background-image: url("/images/Image6.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.image-item-2 {
  grid-area: 1 / 6 / 2 / 11;
  background-image: url("/images/Image10.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.image-item-3 {
  grid-area: 2 / 1 / 3 / 4;
  background-image: url("/images/Image7.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.image-item-4 {
  grid-area: 2 / 4 / 3 / 8;
  background-image: url("/images/Image8.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.image-item-5 {
  grid-area: 2 / 8 / 3 / 11;
  background-image: url("/images/Image11.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.image-item-6 {
  grid-area: 3 / 1 / 4 / 5;
  background-image: url("/images/Image13.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.image-item-7 {
  grid-area: 3 / 5 / 4 / 11;
  background-image: url("/images/Image12.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
/* Responsive Design */
@media screen and (max-width: 600px) {
  /* Header Section */
  header {
    padding-inline: 1.5rem;
  }
  .menu-items {
    width: 100%;
    overflow: hidden;
    max-height: 0;
  }
  label {
    display: inline-flex;
  }
  #toggler:checked ~ .menu-items {
    max-height: 100%;
  }
  .menu-items {
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
  }
  /* Main Section */
  main {
    padding: 1.5rem;
    margin: 0.5rem 0;
  }
  /* Main Input Banner Section */
  .input-banner {
    height: 530px;
  }
  .input-banner h2 {
    font-size: 1.5rem;
    margin: 2rem 0 1rem;
  }
  .input-banner p {
    font-size: 1rem;
    width: 400px;
    margin-bottom: 1.5rem;
  }
  .input-banner form {
    width: 400px;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1.5rem;
  }
  .input-banner input,
  .input-banner select,
  .input-banner button {
    width: 255px;
  }
  /* Responsive tour blog section */
  .tour-blog-section {
    flex-direction: column;
    margin-top: 1.5rem;
  }
  .blog-content {
    width: 100%;
  }
  .image-content {
    width: 100%;
  }
  /* Destination Section */
  .destination-container h2 {
    font-size: 1.5rem;
  }
  .destination-container p {
    margin: 1rem 0;
  }
  .destination-image-container {
    display: block;
  }
  .image-item-1,
  .image-item-2,
  .image-item-3,
  .image-item-4,
  .image-item-5,
  .image-item-6,
  .image-item-7 {
    height: 350px;
    margin-bottom: 1rem;
  }
}
